

#root , body , html {
  padding: 0;

}
.StyledButton {
  margin-top: 3px;
  padding: 20px 60px;
  height: 100%;
  width: auto;
  background-color: black !important;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.StyledButton:hover {
  background-color: white !important;
  color: black;
  cursor: pointer; 
}

.StyleTextBlack {
  color: black !important;
  text-decoration: none !important;
  font-family: 'Chakra Petch' , 'Fredoka';;
}

.StyleTextWhite {
  color: white !important;
  text-decoration: none !important;
  font-family: 'Chakra Petch' , 'Fredoka';;
}

.LinkNoUnderline {
  text-decoration: none !important;
}

.input {
  border-color: black;
}

.focused .input {
  border-color: black !important;
}


.Heading{
  font-size: 100px;
  font-weight: 900;
}

.Backdrop {
  background-color : rgba(0, 0, 0, 0.7);
  padding: 50px;
  border-radius: 10px;
  
}









